.menu {
    background: #E0E0E0;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    padding: 0.5rem 2rem;
  }
  
  .menu__item {
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 800;
    color: #292929;
    display: inline-block;
    padding: 0 2rem;
  }


 .menu__item:hover{
   background-color: white;
   border-bottom: none;
   border-right: 1px solid #CFCFCF;
   border-left: 1px solid #CFCFCF;
   margin: 0 -1rem;
 }

.menu__item--current .menu_item_link{
    color: #be0e0e;
    border-bottom: 2px solid #333;
    padding-bottom: 0.2rem;
}

.menu__item__link {
    text-decoration: none;
    color: #555;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 800;
  }
  
  .menu__item__link:hover {
    text-decoration: underline;
    color: #1C60BB;
  }